.profile-selector {
  .edit-box {
    // line-height: 0;
    img {
      max-width: 12px;
    }

  }
  .title {
    font-family: "Poppins", sans-serif;
    color: #939393;
    font-weight: 500;
    font-size: 14px;
  }
}
