.story-image {
  border: 1px solid black;
  width: 100%;
  padding: 6px;
}

.addStoryImage {
  padding: 5px;
}

.storyText {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #939393;
}
.myStoryText{
  font-family: "Poppins", sans-serif;
  color: #939393;
}