.add_member_btn{
    display: block;
    max-width: 480px;
    width: 100%;
}
.userImage {
    border: 1px solid #0E0E0E;
    border-radius: 50%;
    padding: 3px;
    height: 80px;
    width: 80px;
    object-fit: cover;
}